{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'add_space/jquery.raty.js' %}"></script>

  <div></div>
  <script type="text/javascript">
  $('div').raty({
    starOff:"{% static 'add_space/images/star-off.png' %}",
    starOn:"{% static 'add_space/images/star-on.png' %}",
  });
  </script>

</body>
</html>