{% extends "layout_map.html" %}
{% load static %}
<!-- コンテンツ -->
{% block content %}
<!-- <script type="text/javascript" src="{% static 'map/map.js' %}"></script> -->
<!-- map -->

<div id="map"></div>
<div class="d-flex justify-content-center">
    <form class="form-inline my-2" method="POST" action="" id=fixed>
    {% csrf_token %}
    <input type="text" class="form-control ml-3" name="q" value="{{request.GET.q}}" placeholder="住所を入力してください">
    <button type="submit" value="q" class="btn btn-secondary">検索</button>
    </form>
</div>

<div class="box2">
    <div class="flex">
        <figure class="image"><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=集|33cc00|ffffff" alt=""></figure>
        <p class="text">CoCo 集中出来る</p>
    </div>
    <div class="flex">
        <figure class="image"><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=静|0099ff|ffffff" alt=""></figure>
        <p class="text">CoCo 静か</p>
    </div>
    <div class="flex">
        <figure class="image"><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=金|ffcc33|ffffff" alt=""></figure>
        <p class="text">CoCo コスパの良い</p>
    </div>
    <div class="flex">
        <figure class="image"><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=空|ff6666|ffffff" alt=""></figure>
        <p class="text">CoCo 空いている</p>
    </div>
</div>

<!-- Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmy9n811gkYviPHi50c7KnsFQb_Cc7Al4&callback=initMap" async></script>
<script type="text/javascript">

{% autoescape off %}
data = {{ data }};
searchAdress = {{ searchAdress }};
{% endautoescape %}

const ICON_W = 58/2;
const ICON_H = 72/2;

//地図カスタマイズ
const style = 
    [
        {
            "featureType": "all",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#675a4b"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#ffebc5"
                },
                {
                    "lightness": "-10"
                }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#675a4b"
                }
            ]
        },
        {
            "featureType": "administrative.country",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#b70046"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#675a4b"
                },
                {
                    "weight": "0.50"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#675a4b"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#ff850a"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "geometry",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#f2f2f2"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "saturation": "-71"
                },
                {
                    "lightness": "-2"
                },
                {
                    "color": "#ffebc5"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#70bfaf"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 45
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#675a4c"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#675a4b"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#675a4b"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#7ccff0"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#cfeae4"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#109579"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        }
    ];

</script>
<script type="text/javascript" src="{% static 'map/map.js' %}"></script>
{% endblock %}