{% extends "layout_map.html" %}
{% load static %}
{% block  content %}   

<h1 class="mt-5 pt-4 text-center">検索</h1>

<div class="d-flex justify-content-center">
  <form class="form-inline my-2" method="POST" action="">
   {% csrf_token %}
   <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
   <button type="submit" value="q" class="btn btn-primary">検索</button>
  </form>
  
  </div>

    <div class="card">
        <h5 class="card-header">現在地</h5>
        <div class="card-body">
        
        <h5 class="card-title">lat:{{ now_adress.lat }}, lng:{{ now_adress.lng }}</h5>
        </div>
    </div>

{% for result in results %}

<div class="card">
    <h5 class="card-header">{{ result.id }}</h5>
    <div class="card-body">
      <h5 class="card-title">lat:{{ result.lat }}, lng:{{ result.lng }}</h5>
        
      <a href="{% url 'space:index' placeid=result.id %}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}

{% endblock %}