{% extends 'layout.html' %}
{% load static %}
{% block  content %}   
<h1 class="mt-5 pt-4 text-center">検索</h1>
<div class="d-flex justify-content-center">
  <form class="form-inline my-2" method="GET" action="{% url 'search:index' %}">
   <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
   <button type="submit" value="q" class="btn btn-primary">検索</button>
  </form>
  
  </div>
  
{% for place in places %}

<div class="card">
    <h5 class="card-header">{{ place.place_name }} </h5>
    <div class="card-body">
      
      <h5 class="card-title">概要</h5>
      <div>
        <p>静か　:<span class="star5_rating" data-rate="{{ eval.concentrations }}"></span></p>
        <p>集中　:<span class="star5_rating" data-rate="{{ eval.silence }}"></span></p>
        <p>コスパ:<span class="star5_rating" data-rate="{{ eval.cost_pafo }}"></span></p>
        <p>混雑さ:<span class="star5_rating" data-rate="{{ eval.conges }}"></span></p>
        
      </div>
      {% if place.wifi %}
            <img src="{% static 'search/wifi.png' %}">
        {% else %}
            
        {% endif %}
        {% if place.charge %}
        　　<img src="{% static 'search/plug.png' %}">
        {% else %}
        
        {% endif %}
        {% if place.personal_space %}
        　　<img src="{% static 'search/key.png' %}">
        {% else %}
            
        {% endif %}
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  {% endfor %}
  
</div>

{% endblock %}
